@font-face {
  font-display: swap;
  font-family: "Proxima Nova";
  src: url("./../fonts/ProximaNova-Regular.woff2") format("woff2"), url("./../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Proxima Nova";
  src: url("./../fonts/ProximaNova-Bold.woff2") format("woff2"), url("./../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  src: url("./../fonts/CircularStd-Book.woff2") format("woff2"), url("./../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  src: url("./../fonts/CircularStd-Medium.woff2") format("woff2"), url("./../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  src: url("./../fonts/CircularStd-Bold.woff2") format("woff2"), url("./../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  src: url("./../fonts/josefin-sans-v25-latin-700.woff2") format("woff2"), url("./../fonts/josefin-sans-v25-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Circular", sans-serif;
}

.wrapper {
  margin: 56px 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.label {
  font-weight: 500;
  font-size: 28px;
  line-height: 143%;
  color: #f78cb6;
  margin-bottom: 29px;
}

.text {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  max-width: 537px;
  color: #919299;
}

.wrap-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.button {
  position: relative;
  padding: 18px 85px 18px 22px;
  background-color: #f78bb6;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  -webkit-filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
          filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
}

.button::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 23px;
  height: 32px;
  width: 43px;
  background: url("./../img/button-img.png") 0 0/contain no-repeat;
}

.header {
  margin-bottom: 110px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.header__logo-link {
  color: #56597a;
}

.header__strong-logo {
  color: #f087b1;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.header__item {
  margin-left: 74px;
}

.header__ref {
  color: #aaaaab;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__ref:hover {
  color: #56597a;
}

.header__burger {
  position: relative;
  height: 24px;
  width: 24px;
  margin-top: 3px;
}

.header__burger::before {
  content: "";
  position: absolute;
  background-color: #aaaaab;
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
}

.header__burger::after {
  content: "";
  position: absolute;
  background-color: #aaaaab;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.header__span-burger::before {
  content: "";
  position: absolute;
  background-color: #aaaaab;
  top: 11px;
  right: 0;
  width: 100%;
  height: 2px;
}

.page__start {
  margin-bottom: 103px;
}

.start__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 18px 0 0 8px;
}

.start__label {
  position: relative;
  padding-left: 43px;
  margin-bottom: 29px;
}

.start__label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 36px;
  height: 3px;
  background: #f78cb6;
}

.start__heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 116%;
  color: #56597a;
  margin-bottom: 31px;
}

.start__text {
  margin-bottom: 42px;
}

.start__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 532px;
          flex: 0 0 532px;
}

.start__image {
  max-width: 100%;
}
