@font-face {
  font-display: swap;
  font-family: "Proxima Nova";
  src: url("./../fonts/ProximaNova-Regular.woff2") format("woff2"), url("./../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Proxima Nova";
  src: url("./../fonts/ProximaNova-Bold.woff2") format("woff2"), url("./../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  src: url("./../fonts/CircularStd-Book.woff2") format("woff2"), url("./../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  src: url("./../fonts/CircularStd-Medium.woff2") format("woff2"), url("./../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  src: url("./../fonts/CircularStd-Bold.woff2") format("woff2"), url("./../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  src: url("./../fonts/josefin-sans-v25-latin-700.woff2") format("woff2"), url("./../fonts/josefin-sans-v25-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont.woff2") format("woff2"), url("./../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::after {
  font-family: "iconfont";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-pancakes:before {
  content: "\e900";
}

._icon-case:before {
  content: "\e901";
}

._icon-arrow::before {
  content: "\e902";
}

._icon-cubitos:before {
  content: "\e903";
}

._icon-cube:before {
  content: "\e904";
}

._icon-mail:before {
  content: "\e905";
}

._icon-insta:before {
  content: "\e906";
}

._icon-twitter:before {
  content: "\e907";
}

._icon-youtube:before {
  content: "\e908";
}

._icon-facebook:before {
  content: "\e909";
}

._icon-c:before {
  content: "\e90a";
}

._icon-world:before {
  content: "\e90b";
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Circular", sans-serif;
}

.wrapper {
  margin: 56px 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.label {
  font-weight: 500;
  font-size: 28px;
  line-height: 143%;
  color: #f78bb6;
  margin-bottom: 29px;
}

.text {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  max-width: 537px;
  color: #919299;
}

.wrap-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.button {
  position: relative;
  padding: 18px 85px 18px 22px;
  background-color: #f78bb6;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  -webkit-filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
          filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
}

.button::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 23px;
  height: 32px;
  width: 32px;
  border: 1.5px solid #ffffff;
  border-radius: 2px;
  background-color: rgba(255, 193, 218, 0.28);
}

.button::before {
  position: absolute;
  top: 17px;
  right: 25px;
  font-size: 29px;
}

.subheading {
  font-weight: 700;
  font-size: 52px;
  line-height: 138%;
  color: #56597a;
}

.title {
  font-weight: 500;
  font-size: 34px;
  line-height: 212%;
  color: #56597a;
}

.header {
  margin-bottom: 110px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.header__logo-link {
  color: #56597a;
}

.header__strong-logo {
  color: #f78bb6;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.header__item {
  margin-left: 74px;
}

.header__ref {
  color: #aaaaab;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__ref:hover {
  color: #56597a;
}

.header__burger {
  position: relative;
  height: 24px;
  width: 24px;
  margin-top: 3px;
}

.header__burger::before {
  content: "";
  position: absolute;
  background-color: #aaaaab;
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
}

.header__burger::after {
  content: "";
  position: absolute;
  background-color: #aaaaab;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.header__span-burger::before {
  content: "";
  position: absolute;
  background-color: #aaaaab;
  top: 11px;
  right: 0;
  width: 100%;
  height: 2px;
}

.page__start {
  margin-bottom: 103px;
}

.page__people {
  margin-bottom: 154px;
}

.page__design {
  margin-bottom: 53px;
}

.page__teamwork {
  margin-bottom: 133px;
}

.page__reviews {
  margin-bottom: 96px;
}

.page__brands {
  margin-bottom: 183px;
}

.page__subscribe {
  margin-bottom: 200px;
}

.start__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 18px 0 0 8px;
}

.start__label {
  position: relative;
  padding-left: 43px;
  margin-bottom: 29px;
}

.start__label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 36px;
  height: 3px;
  background: #f78bb6;
}

.start__heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 116%;
  color: #56597a;
  margin-bottom: 31px;
}

.start__text {
  margin-bottom: 42px;
}

.start__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 532px;
          flex: 0 0 532px;
}

.start__image {
  max-width: 100%;
}

.people__label {
  text-align: center;
  margin-bottom: 6px;
}

.people__subheading {
  text-align: center;
  margin-bottom: 58px;
}

.people__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.people__item {
  position: relative;
  padding: 53px 23px 23px;
  background-color: #fff1f9;
  -webkit-box-shadow: 2px 2px 4px rgba(228, 206, 206, 0.3);
          box-shadow: 2px 2px 4px rgba(228, 206, 206, 0.3);
  border-radius: 8px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s, border-radius 0.1s ease 0.2s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s, border-radius 0.1s ease 0.2s;
}

.people__item:hover {
  background: #f78cb6;
  border-radius: 8px 8px 0 0;
  -webkit-box-shadow: 10px 10px 20px rgba(250, 141, 184, 0.2);
          box-shadow: 10px 10px 20px rgba(250, 141, 184, 0.2);
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s;
}

.people__item:hover .people__logo-card {
  color: #fff;
}

.people__item:hover .title {
  color: #fff;
}

.people__item:hover .text {
  color: #fff;
}

.people__item:hover::after {
  height: 37px;
  background-color: #f78cb6;
}

.people__item:hover .people__wrap-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 100%;
  left: 0;
  background-color: #fff1f9;
  border-radius: 0 0 8px 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.people__logo-card {
  text-align: center;
  font-size: 48px;
  color: #f78cb6;
  margin-bottom: 42px;
}

.people__title {
  text-align: center;
}

.people__text {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
}

.people__wrap-link {
  display: none;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 1;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people__link {
  position: relative;
  display: inline-block;
  color: #fff;
  padding-right: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.people__link::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.design__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design__wrap-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 570px;
          flex: 0 0 570px;
}

.design__img {
  max-width: 100%;
}

.design__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 61px 0 79px;
}

.design__label {
  margin-bottom: 15px;
}

.design__subheading {
  line-height: 119%;
  margin-bottom: 24px;
}

.design__text {
  margin-bottom: 40px;
}

.teamwork__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teamwork__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 76px 75px 0 23px;
}

.teamwork__label {
  margin-bottom: 15px;
}

.teamwork__subheading {
  margin-bottom: 24px;
}

.teamwork__text {
  max-width: 520px;
  margin-bottom: 40px;
}

.teamwork__wrap-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 587px;
          flex: 0 0 587px;
}

.teamwork__picture {
  max-width: 100%;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__wrap-pic {
  margin-top: 13px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 416px;
          flex: 0 0 416px;
}

.reviews__pic {
  max-width: 100%;
}

.reviews__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 118px 0 137px;
}

.reviews__label {
  margin-bottom: 15px;
}

.reviews__subheading {
  max-width: 506px;
  margin-bottom: 38px;
}

.reviews__text {
  max-width: 420px;
  margin-bottom: 23px;
}

.reviews__client-name {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  color: #56597a;
  margin-bottom: 5px;
}

.reviews__client-country {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  line-height: 200%;
  color: #ababab;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__column {
  padding: 0 45px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.brands__pic {
  max-width: 100%;
}

.subscribe__subheading {
  text-align: center;
  margin-bottom: 18px;
}

.subscribe__text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.subscribe__wrap-input {
  position: relative;
  max-width: 706px;
  height: 82px;
  margin: 0 auto;
}

.subscribe__wrap-input::before {
  position: absolute;
  top: 34px;
  left: 27px;
  font-size: 19px;
  color: #d2d2d2;
}

.subscribe__wrap-input::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 23px;
  width: 38px;
  height: 28px;
  background: url("./../img/arrow-subs.png") 0 0/contain no-repeat;
  cursor: pointer;
}

.subscribe__input {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 20px 20px 40px rgba(205, 205, 205, 0.25);
          box-shadow: 20px 20px 40px rgba(205, 205, 205, 0.25);
  border-radius: 4px;
  padding-left: 60px;
  padding-right: 210px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: #000;
  outline: none;
}

.subscribe__input::-webkit-input-placeholder {
  color: #d2d2d2;
}

.subscribe__input:-ms-input-placeholder {
  color: #d2d2d2;
}

.subscribe__input::-ms-input-placeholder {
  color: #d2d2d2;
}

.subscribe__input::placeholder {
  color: #d2d2d2;
}

.subscribe__btn {
  position: absolute;
  top: 14px;
  right: 13px;
  width: 178px;
  height: 54px;
  -webkit-box-shadow: 10px 10px 20px rgba(250, 141, 184, 0.2);
          box-shadow: 10px 10px 20px rgba(250, 141, 184, 0.2);
  background: #f78cb6;
  border-radius: 4px;
  padding-left: 17px;
  padding-right: 69px;
  font-weight: 450;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  cursor: pointer;
}
