.brands {
    &__row {
        display: flex;
        margin: 0 -15px;
        justify-content: center;
    }

    &__column {
        padding: 0 45px;
        flex: 0 1 20%;
    }

    &__wrap-pic {
    }

    &__pic {
    }
}

@media (max-width: 1335px) {
    .brands {
        &__row {
            flex-wrap: wrap;
        }

        &__column {
            padding: 45px;
            flex: 0 1 33.3334%;
        }

        &__wrap-pic {
        }

        &__pic {
            text-align: center;
        }
    }
}

@media (max-width: 1023px) {
    .brands {
        &__column {
            flex: 0 1 90%;
        }
    }
}
