.brands {
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        align-items: center;
    }

    &__column {
        padding: 0 45px;
        flex: 0 1 20%;
    }

    &__wrap-pic {
    }

    &__pic {
        max-width: 100%;
    }
}
