.header {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: "Josefin Sans";
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;

        letter-spacing: 0.02em;
    }

    &__logo-link {
        color: #56597a;
    }

    &__strong-logo {
        color: #f087b1;
    }

    &__nav {
    }

    &__list {
        display: flex;

        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
    }

    &__item {
        margin-left: 74px;
    }

    &__ref {
        color: #aaaaab;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #56597a;
        }
    }

    &__burger {
        position: relative;

        height: 24px;
        width: 24px;

        margin-top: 3px;

        &::before {
            content: "";
            position: absolute;
            background-color: #aaaaab;
            right: 0;
            top: 0;

            width: 100%;
            height: 2px;
        }

        &::after {
            content: "";
            position: absolute;
            background-color: #aaaaab;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 2px;
        }
    }

    &__span-burger {
        &::before {
            content: "";
            position: absolute;
            background-color: #aaaaab;
            top: 11px;
            right: 0;

            width: 100%;
            height: 2px;
        }
    }
}
