.header {
    margin-bottom: 110px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
    }

    &__logo-link {
        color: $colorDarkGray;
    }

    &__strong-logo {
        color: $colorPink;
    }

    &__nav {
    }

    &__list {
        display: flex;

        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
    }

    &__item {
        margin-left: 74px;
    }

    &__ref {
        color: $colorlightGray;
        transition: all 0.3s ease 0s;

        &:hover {
            color: $colorDarkGray;
        }
    }

    &__burger {
        position: relative;

        height: 24px;
        width: 24px;

        margin-top: 3px;

        &::before {
            content: "";
            position: absolute;
            background-color: $colorlightGray;
            right: 0;
            top: 0;

            width: 100%;
            height: 2px;
        }

        &::after {
            content: "";
            position: absolute;
            background-color: $colorlightGray;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 2px;
        }
    }

    &__span-burger {
        &::before {
            content: "";
            position: absolute;
            background-color: $colorlightGray;
            top: 11px;
            right: 0;

            width: 100%;
            height: 2px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__item {
            margin-left: 0;
        }

        &__ref {
            display: none;
        }
    }
}
