.page {
    &__start {
        margin-bottom: 103px;
    }

    &__people {
        margin-bottom: 154px;
    }

    &__design {
        margin-bottom: 53px;
    }

    &__teamwork {
        margin-bottom: 133px;
    }

    &__reviews {
        margin-bottom: 96px;
    }

    &__brands {
        margin-bottom: 183px;
    }

    &__subscribe {
        margin-bottom: 200px;
    }
}
