.people {
    &__label {
        text-align: center;

        margin-bottom: 6px;
    }

    &__subheading {
        text-align: center;

        margin-bottom: 58px;
    }

    &__row {
        display: flex;
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 25%;
    }

    &__item {
        position: relative;

        padding: 53px 23px 23px;
        background-color: #fff1f9;
        box-shadow: 2px 2px 4px rgba(228, 206, 206, 0.3);
        border-radius: 8px;

        height: 100%;
        display: flex;
        flex-direction: column;

        transition: background 0.3s ease 0s, color 0.3s ease 0s, border-radius 0.1s ease 0.2s;

        &:hover {
            background: #f78cb6;
            border-radius: 8px 8px 0 0;
            box-shadow: 10px 10px 20px rgba(250, 141, 184, 0.2);

            transition: background 0.3s ease 0s, color 0.3s ease 0s;

            .people__logo-card {
                color: #fff;
            }
            .title {
                color: #fff;
            }
            .text {
                color: #fff;
            }

            &::after {
                height: 37px;
                background-color: #f78cb6;
            }

            .people__wrap-link {
                display: flex;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0;

            top: 100%;
            left: 0;
            background-color: #fff1f9;
            border-radius: 0 0 8px 8px;

            transition: all 0.3s ease 0s;
        }
    }

    &__logo-card {
        text-align: center;
        font-size: 48px;
        color: #f78cb6;

        margin-bottom: 42px;
    }

    &__title {
        text-align: center;
    }

    &__text {
        text-align: center;
        font-size: 16px;
        line-height: 150%;

        margin-bottom: 10px;
    }

    &__wrap-link {
        display: none;

        position: absolute;
        left: 0;
        bottom: -10px;
        z-index: 1;

        width: 100%;
        justify-content: center;
    }

    &__link {
        position: relative;
        display: inline-block;
        color: #fff;
        padding-right: 15px;

        transition: all 0.3s ease 0s;

        &::after {
            content: "";
            position: absolute;
            top: 3px;
            right: 0;

            border-left: 7px solid #fff;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;

            transition: all 0.3s ease 0s;
        }
    }
}

@media (max-width: 1335px) {
    .people {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__column {
            padding: 15px;
            flex: 0 1 33.3334%;
        }
    }
}

@media (max-width: 1023px) {
    .people {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__column {
            padding: 15px;
            flex: 0 1 50%;
        }
    }
}

@media (max-width: 767px) {
    .people {
        &__label {
            font-size: 23px;
        }

        &__subheading {
            font-size: 40px;
        }

        &__row {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -15px;
        }

        &__column {
            padding: 15px;
            flex: 0 1 90%;
        }

        &__logo-card {
            margin-bottom: 10px;
        }
    }
}
