.start {
    &__row {
        display: flex;
    }

    &__body {
        flex: 1 1 auto;
        padding: 18px 0 0 8px;
    }

    &__label {
        position: relative;

        padding-left: 43px;
        margin-bottom: 29px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;

            width: 36px;
            height: 3px;
            background: $colorPink;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 64px;
        line-height: 116%;

        color: $colorDarkGray;

        margin-bottom: 31px;
    }

    &__text {
        margin-bottom: 42px;
    }

    &__wrap-button {
    }

    &__button {
    }

    &__wrap-image {
        flex: 0 0 532px;
    }

    &__image {
        max-width: 100%;
    }
}

@media (max-width: 1335px) {
    .start {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__body {
            padding: 0;
            margin-bottom: 30px;
        }

        &__label {
            text-align: center;

            &::before {
                display: none;
            }
        }

        &__heading {
            text-align: center;
        }

        &__text {
            text-align: center;
            margin: 0 auto;

            margin-bottom: 50px;
        }

        &__wrap-button {
            text-align: center;
        }
    }
}

@media (max-width: 767px) {
    .start {
        &__label {
            font-size: 23px;
        }

        &__heading {
            font-size: 40px;
        }

        &__text {
            text-align: justify;
        }

        &__wrap-image {
            flex: 0 0 322px;
        }
    }
}
