.teamwork {
    &__row {
        display: flex;
    }

    &__body {
        flex: 1 1 auto;

        padding: 76px 75px 0 23px;
    }

    &__label {
        margin-bottom: 15px;
    }

    &__subheading {
        margin-bottom: 24px;
    }

    &__text {
        max-width: 520px;
        margin-bottom: 40px;
    }

    &__wrap-button {
    }

    &__button {
    }

    &__wrap-picture {
        flex: 0 0 587px;
    }

    &__picture {
        max-width: 100%;
    }
}

@media (max-width: 1335px) {
    .teamwork {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__body {
            padding: 0;
            margin-bottom: 30px;
        }

        &__label {
            text-align: center;
        }

        &__subheading {
            text-align: center;
        }

        &__text {
            text-align: center;
            margin: 0 auto;

            margin-bottom: 50px;
        }

        &__wrap-button {
            text-align: center;

            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767px) {
    .teamwork {
        &__label {
            font-size: 23px;
        }

        &__subheading {
            font-size: 40px;
        }

        &__text {
            text-align: justify;
        }

        &__wrap-picture {
            flex: 0 0 320px;
        }
    }
}
