$fontCircular: "Circular", sans-serif;
$fontProximaNova: "Proxima Nova", sans-serif;
$fontJosefinSans: "Josefin Sans", sans-serif;

$colorPink: #f78bb6;
$colorlightGray: #aaaaab;
$colorDarkGray: #56597a;
